<div class="warranty_submission_form">
  <%= form_for(@warranty_submission) do |f| %>
    <% if @warranty_submission.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@warranty_submission.errors.count, "error") %> prohibited this warranty submission from being submitted:</h2>

        <ul>
        <% @warranty_submission.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field">
      <label class="description">Contact Information:</label>
    </div>
    <div class="field">
      <%= f.label :first_name, 'First Name*', class: 'required' %>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name, 'Last Name*', class: 'required' %>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :company_name, 'Company Name*' %>
      <%= f.text_field :company_name %>
    </div>
    <div class="field">
      <%= f.label :address1, "Address 1*", class: 'required' %>
      <%= f.text_field :address1 %>
    </div>
    <div class="field">
      <%= f.label :address2, "Address 2" %>
      <%= f.text_field :address2 %>
    </div>
    <div class="field">
      <%= f.label :city, "City*", class: 'required' %>
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :state, "State*", class: 'required' %>
      <%= f.collection_select(:state, NetsuiteState.find(:all, order: :name), :netsuite_id, :name, prompt: true) %>
    </div>
    <div class="field">
      <%= f.label :zip_code, 'Zip Code*', class: 'required' %>
      <%= f.text_field :zip_code %>
    </div>
    <div class="field">
      <%= f.label :country, "Country*", class: 'required' %>
      <%= f.collection_select :country, NetsuiteCountry.find(:all, order: :name), :code, :name, prompt: true %>
    </div>
    <div class="field">
      <%= f.label :phone, "Phone*", class: 'required' %>
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label :email, "Email*", class: 'required' %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :purchase_date, 'Purchase Date*', class: 'required' %>
      <%= f.date_field :purchase_date, end_year: Time.now.year %>
    </div>
    <div class="field">
      <%= f.label :purchased_from, 'Purchased From*', class: 'required' %>
      <%= f.text_field :purchased_from %>
    </div>
    <div class="field">
      <label class="description">Warranty Claim Items:</label>
      <span class="description">(please enter at least one item, quantity, and problem description below)</span>
    </div>
    <div class="claim_list">
      <ul>
        <%= f.fields_for :warranty_claims do |c| %>
          <li>
              <%= c.label :warranty_item, 'Warranty Item*', class: 'required' %>
              <%= c.collection_select :warranty_item_id, WarrantyItem.find(:all, order: :item_name), :id, :item_name, prompt: true %>
              <%= c.label :quantity, 'Qty*', class: 'required' %>
              <%= c.text_field :quantity, class: 'short' %>
              <%= c.label :product_issue, 'Description of Problem*', class: 'required' %>
              <%= c.text_field :product_issue %>
          </li>
        <% end %>
      </table>
    </div>
    <div class="actions">
      <%= f.submit "Submit Warranty Form", class: 'button' %>
    </div>
  <% end %>
</div>
