<h1>Lifetime Warranty</h1>

<div class="main_content">
      <p>We are so convinced that the Hydro Flask® is the best double wall vacuum insulated bottle available that we guarantee every Hydro Flask against manufacturer defects for one hundred years or one lifetime, whichever comes first!</p><p>
</p><p>If you have a warranty claim, <a href="#warrantyform">please complete our form below</a>. Although our lifetime warranty does not cover regular wear and tear, such as dents, scratches, powder coat chips from the flask being dropped, damaged, etc., it does cover manufacturing defects, such as:</p>

<ol>
	<li><strong>Broken or leaking caps:</strong> If your cap breaks or you notice a leak, do not send your flask to us. You will be responsible for the shipping charge to have the flask returned. Simply fill out the <a href="#warrantyform">warranty form</a> below.</li>
	<li><strong>Flasks that no longer insulate:</strong> You can test the insulation property of your flask at home by adding boiling hot water to the flask. After 5 minutes, feel the outside of the flask (below the neck). If you feel any hot spots, the vacuum has been compromised and you are eligible for a replacement.</li>
	<li><strong>Flasks that are damaged during the shipping process:</strong> Please contact us if you ordered your flask from www.HydroFlask.com and it has arrived damaged. If you use your flask, we cannot replace it due to shipping damage. We will e-mail you a pre-paid shipping label to return the damaged flask and will send out a replacement upon receipt.</li>
	<li><strong>Rough welds along the rim of the flask:</strong> Our flasks are welded at the rim and, on occasion, the welding can be uneven. If you receive a flask that has an uneven rim or lip, please contact us for a replacement.&nbsp;</li>
	<li><strong>Rattling flasks:</strong> The rattle you hear is a small metal disc that sits between the double wall of your Hydro Flask that aids in the vacuum insulation process. Sometimes the disc becomes dislodged and you can hear a noise. &nbsp;This will not affect the insulation of your flask. &nbsp;If you can live with it, so can we. However, if it is an annoyance, we will exchange it for a new flask.</li>
</ol>

<p>If you are not sure whether you have a defective flask, and you have fully reviewed the care and cleaning page, please complete the <a id="warrantyform">form below.</a></p>

</div>

<%= render 'form' %>

