<div class="cart_item">
        <% if !item.product_image.blank?  %>
	<%= link_to image_tag("#{item.product_image.path}small/#{item.product_image.name}", alt: item.product.name, title: item.product.name), item.product %></td>
        <% end %>
	<div class="cart_item_info"><% if !item.product.blank? %><%= link_to item.product.short_name, item.product %><br><% else %><%= item.product_name %><% end %>
          <% if !item.line_item_options.blank? %>
	    <% item.line_item_options.each do |option| %>
	      <%= option.option_name %><br />
	    <% end %>
          <% end %>
	  <%= number_to_currency item.product_price %>
	  Qty: <%= item.quantity %>
	</div>
</div>
