<%= form_for(@netsuite_country) do |f| %>
  <% if @netsuite_country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@netsuite_country.errors.count, "error") %> prohibited this netsuite_country from being saved:</h2>

      <ul>
      <% @netsuite_country.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
