<h1>Listing netsuite_countries</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @netsuite_countries.each do |netsuite_country| %>
      <tr>
        <td><%= netsuite_country.code %></td>
        <td><%= netsuite_country.name %></td>
        <td><%= link_to 'Show', netsuite_country %></td>
        <td><%= link_to 'Edit', edit_netsuite_country_path(netsuite_country) %></td>
        <td><%= link_to 'Destroy', netsuite_country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Netsuite country', new_netsuite_country_path %>
