<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @netsuite_country.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @netsuite_country.name %>
</p>

<%= link_to 'Edit', edit_netsuite_country_path(@netsuite_country) %> |
<%= link_to 'Back', netsuite_countries_path %>
