<div id='hydro_account_panel'>
<h2>Sign in</h2>
<%= flash[:notice]%>
<%= flash[:alert]%>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.text_field :email, :autofocus => true, placeholder: "youremail@domain.com" %></div>
  <br/>
  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <br/>
  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <br/>
  <%= f.submit "SIGN IN"  %>
<% end %>
<br/>
<%= render "devise/shared/links" %>
<p style="font-weight:bold;font-style:italic;margin: 1em 0 0.5em;">Returning customers please note:</p>
<p style="font-weight:bold;font-style:italic;margin:0;">On November 1, 2013, Hydro Flask launched a new web site. If you have previously created an account with us prior to that date, please take a moment to reset your password through the above link. You will only have to do this once.</p>
</div>
