<% @archive_orders.each do |order| %>
  <tr>
    <td><%= order.invoice_number %></td>
    <td><%= order.created_at.strftime("%m/%d/%Y") %></td>
    <td style="text-align:right;"><%= number_to_currency order.payment_total_cost %></td>
    <td style="text-align:right;"><%= link_to 'Show', order %></td>
  </tr>
<% end %>
