<h1>Order #<%= @archive_order.invoice_number %></h1>
<div id="cart_panel">
  <%= render partial: 'carts/item', collection: @archive_order.archive_order_line_items %>
</div>
<div id="form_panel">
	<div class="confirm_shipping">
	  <h2>Shipping Info</h2>
	  <p>
	    <span class="label">First name:</span>
	    <%= @archive_order.first_name %>
	  </p>
	  <p>
	    <span class="label">Last name:</span>
	    <%= @archive_order.last_name %>
	  </p>
	  <p>
	    <span class="label">Phone:</span>
	    <%= @archive_order.phone %>
	  </p>
	  <% if !@archive_order.email.empty? %>
	  <p>
	    <span class="label">Email:</span>
	    <%= @archive_order.email %>
	  </p>
	  <% end %>
	  <p>
	    <span class="label">Address:</span>
	    <%= @archive_order.address %>
	  </p>
	  <% if !@archive_order.address2.blank? %>
	  <p>
	    <span class="label">Address2:</span>
	    <%= @archive_order.address2 %>
	  </p>
	  <% end %>
	  <p>
	    <span class="label">City:</span>
	    <%= @archive_order.city %>
	  </p>
	  <p>
	    <span class="label">State:</span>
	    <%= @archive_order.state %>
	  </p>
	  <p>
	    <span class="label">Zip:</span>
	    <%= @archive_order.zip %>
	  </p>
	</div>
	<div class="confirm_billing">
	  <h2>Billing Address</h2>
	  <p>
	    <span class="label">Address:</span>
	    <%= @archive_order.billing_address %>
	  </p>
	  <% if !@archive_order.billing_address2.blank? %>
	  <p>
	    <span class="label">Address 2:</span>
	    <%= @archive_order.billing_address2 %>
	  </p>
	  <% end %>
	  <p>
	    <span class="label">City:</span>
	    <%= @archive_order.billing_city %>
	  </p>
	  <p>
	    <span class="label">State:</span>
	    <%= @archive_order.billing_state %>
	  </p>
	  <p>
	    <span class="label">Zip:</span>
	    <%= @archive_order.billing_zip %>
	  </p>
	</div>
</div>

<%= link_to 'Back', '/myaccount' %>
