.warranty_submission_form {
    form {
        .field {
            padding-bottom: 2px;
        }
        
        .field_with_errors {
            display: inline-block;
        }
        
        & * label {
            display: inline-block;
            width: 160px;
            line-height: 35px;
            vertical-align: middle;
            text-align: right;
            color: $footer_text_color;
            
            &.required {
                color: $secondary_color;
                font-weight: bold;
            }
            
            &.description {
                color: $primary_color;
                font-weight: bold;
                font-size: 16px;
                text-align: left;
                width: auto;
            }
        }
        
        & * span.description {
            display: inline-block;
            width: 475px;
            font-style: italic;
            line-height: 35px;
            vertical-align: middle;
        }
    
        & * input, select {
            width: 213px;
        }
        
        .claim_list {
            display: inline-block;
            width: 100%;
    
            ul {
                li {
                    display: inline-block;
                    width: 100%;
                    margin-left: 46px;
        
                    label {
                        width: auto;
                    }
            
                    input,select {
                        margin-right: 10px;
                
                        &.short {
                            width: 25px;
                        }
                    }
                }
            }
        }
        
        .actions {
            text-align: left;
            margin-left: 161px;
        }
    }
}
