<html>
  <body>
    <style>
      
      #checkout_page {
        font-size: 12px;
      }

      #checkout_page .cart_item {
        margin-bottom: 20px;
      }

      #checkout_page .label {
        font-weight:bold;
      }

    </style>
    <div id="checkout_page">
      <p>Hello,</p>
      <p>Welcome to the Hydro Flask family! Thank you for your purchase from the Hydro Flask Online store.  This email is confirmation that your order has been received. We will send you another email with the shipping and tracking information when your order ships in 3-5 business days. </p>
      <p>If you have any questions or need to discuss your order in the interim, please contact us at 888.58HYDRO (584-9376) or <a href="mailto:info@hydroflask.com">info@hydroflask.com</a> and reference your order number <%= @order.invoice_number %> and order date <%= @order.created_at  %>.</p>
      <p>Hydro Flask is proud to offer a <%= link_to "Lifetime Warranty", lifetime_warranty_url %> on all our products. Please visit our web site for <%= link_to "details", lifetime_warranty_url %>, as well as information on <%= link_to "returns", page_url('returns') %>.</p>
      <p>If you're interested in receiving special offers, discounts and promotions from Hydro Flask, please sign up for our newsletter at the bottom of every <%= link_to "Hydro Flask page", root_url %>. You may unsubscribe from the e-mails at any time by clicking on the "unsubscribe" link located at the bottom.</p>
      <p>Thanks again for your order and for being a fan of Hydro Flask!<br>Happy hydrating,</p>
      <p>Hydro Flask</p>
      <h3>Order #: <%= @order.invoice_number %></h3>
      <h3>Your Items</h3>
      <% @order.line_items.each do |item| %>
      <div class="cart_item">
          <b><%= item.product.short_name %></b><br>
          <% item.line_item_options.each do |option| %>
          <%= option.option_name %><br />
          <% end %>
          <%= number_to_currency item.product_price %>
          Qty: <%= item.quantity %>
      </div>
      <% end %>
      <div id="payment_panel" style="margin-bottom:20px;margin-top:20px;">
        <span class="label">Shipping: </span><%= number_to_currency(@order.shipping_cost) %><br>
        <span class="label">Tax: </span><%= number_to_currency(@order.tax) %></span><br>
        <span class="label">Total: </span><%= number_to_currency(@order.payment_total_cost) %>
      </div>
      <div class="confirm_shipping" style="margin-bottom:20px;">
        <h3>Shipping Information</h3>
        <span class="label">First name:</span>
        <%= @order.first_name %><br>
        <span class="label">Last name:</span>
        <%= @order.last_name %><br>
        <span class="label">Phone:</span>
        <%= @order.phone %><br>
        <% if !@order.email.empty? %>
          <span class="label">Email:</span>
          <%= @order.email %><br>
        <% end %>
        <span class="label">Address:</span>
        <%= @order.address %><br>
        <% if !@order.address2.empty? %>
          <span class="label">Address2:</span>
          <%= @order.address2 %><br>
        <% end %>
        <span class="label">City:</span>
        <%= @order.city %><br>
        <span class="label">State:</span>
        <%= @order.state %><br>
        <span class="label">Zip:</span>
        <%= @order.zip %>
      </div>
      <div class="confirm_billing">
        <h3>Billing Information</h3>
        <span class="label">Address:</span>
        <%= @order.billing_address %><br>
        <% if !@order.billing_address2.empty? %>
          <span class="label">Address 2:</span>
          <%= @order.billing_address2 %><br>
        <% end %>
        <span class="label">City:</span>
        <%= @order.billing_city %><br>
        <span class="label">State:</span>
        <%= @order.billing_state %><br>
        <span class="label">Zip:</span>
        <%= @order.billing_zip %>
      </div>
    </div>
  </body>
</html>
