<%= form_for(@netsuite_state) do |f| %>
  <% if @netsuite_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@netsuite_state.errors.count, "error") %> prohibited this netsuite_state from being saved:</h2>

      <ul>
      <% @netsuite_state.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :netsuite_id %><br>
    <%= f.text_field :netsuite_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
