<h1>Listing netsuite_states</h1>

<table>
  <thead>
    <tr>
      <th>Netsuite</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @netsuite_states.each do |netsuite_state| %>
      <tr>
        <td><%= netsuite_state.netsuite_id %></td>
        <td><%= netsuite_state.name %></td>
        <td><%= link_to 'Show', netsuite_state %></td>
        <td><%= link_to 'Edit', edit_netsuite_state_path(netsuite_state) %></td>
        <td><%= link_to 'Destroy', netsuite_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Netsuite state', new_netsuite_state_path %>
