<p id="notice"><%= notice %></p>

<p>
  <strong>Netsuite:</strong>
  <%= @netsuite_state.netsuite_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @netsuite_state.name %>
</p>

<%= link_to 'Edit', edit_netsuite_state_path(@netsuite_state) %> |
<%= link_to 'Back', netsuite_states_path %>
