<footer class="clear">
	<div class="wrapper">
			<%#= render partial: "static_pages/home_content" %>
		<div id="footerWrapper">
			<div class="panel fifty_percent">
				<div id="footer-nav-div" class="inner-panel left">
					<nav>
						<ul id="footer-nav">
							<li><%= link_to "Contact", page_path('contact-hydro-flask') %></li>
							<li><%= link_to "About Hydro Flask", page_path('about-hydro-flask') %></li>
							<li><%= link_to "FAQs", page_path('frequently-asked-questions') %></li>
							<li><%= link_to "Lifetime Warranty", lifetime_warranty_path %></li>
							<li><%= link_to "Shipping & Handling", page_path('shipping-and-handling') %></li>
							<li><%= link_to "Returns", page_path('returns') %></li>
							<li><%= link_to "Careers", page_path('careers') %></li>
						</ul>
					</nav>
				</div>
				<div id="footer-email-updates" class="inner-panel left">
					<h3>EMAIL UPDATES</h3>
					<p>Get the latest news from Hydro Flask!</p>
						<div class="form-row">
							<%# FIXME: not working! (rendering blank "form" tag in html) %>
							<%#= form_tag(subscribe_email_path, :method => 'post') do |f| %>
							  <%#= text_field_tag :email_address %>
							  <%#= submit_tag "Submit Email", :name => 'subscribe_email', :id => 'submit_email_sub'%>
								
							
							<%= form_for(EmailSubscription.new, {:url => subscribe_email_path(), :method => :post, :html=> {:class => 'new_email_subscription_footer', :id=>"new_email_subscription_footer"}}) do |f| %>		
								<div class="field">
									<%= f.text_field :email_address, placeholder: "Enter email address" %><%= f.submit "Submit Email", type: :image, src: "https://s3.amazonaws.com/hydroflask/images/submit_button.png", name: 'subscribe_email', id: 'submit_email_sub' %>
								</div>
							<% end %>
							<!-- old code
							<input type="text" value="Enter email address" id="footer_email_box" />
							<input type="image" src="<%#= asset_path "submit_button.png" %>" />
							-->
						</div>
				</div>
				<div id="footer-copy" class="clear">
					<p>
						&copy; <%= Time.now.year %> Hydro Flask. All prices are in USD.<br />
						<%= link_to "Terms & Privacy", page_path('terms-and-privacy') %>&nbsp;<span>|</span>&nbsp;<%= link_to "Sitemap", page_path('sitemap') %>
					</p>
				</div>
			</div>
			<div class="panel fifty_percent">
				<div class="inner-panel left">
					<h3>SOCIAL</h3>
					<p>Stay current with Hydro Flask!</p>
					<nav id="footer-social-nav">
						<ul>
							<li><a href="https://twitter.com/HydroFlask" target="_blank"><img src="https://s3.amazonaws.com/hydroflask/images/twitter_square_black.png" alt="Hydro Flask on Twitter" class="social_image"></a></li>
							<li><a href="http://www.facebook.com/hydroflask?ref=mf" target="_blank"><img src="https://s3.amazonaws.com/hydroflask/images/facebook_square_black.png" alt="Hydro Flask on Facebook" class="social_image"></a></li>
							<li><a href="http://www.instagram.com/hydroflask" target="_blank"><img src="https://s3.amazonaws.com/hydroflask/images/instagram_square_black.png" alt="Hydro Flask on Instagram" class="social_image"></a></li>
							<li><a href="http://www.pinterest.com/hydroflask" target="_blank"><img src="https://s3.amazonaws.com/hydroflask/images/pinterest_square_black.png" alt="Hydro Flask on Pinterest" class="social_image"></a></li>
							<li><a href="http://blog.hydroflask.com" target="_blank"><img src="https://s3.amazonaws.com/hydroflask/images/rss_square_black.png" alt="Hydro Flask Feedburner" class="social_image"></a></li>
						</ul>
					</nav>
					<div id="hman-div" class="clear">
						<%= link_to image_tag("https://s3.amazonaws.com/hydroflask/images/h_man.png", id: "h_man"), "/pages/h-man" %>
						<h3><%= link_to "H-MAN", "/pages/h-man", style: "color:#000000;" %></h3>
						<p>Meet the heart &amp; soul of Hydro Flask!</p>
					</div>
				</div>
				<div class="inner-panel left">
					<h3>SEARCH</h3>
					<p>Find info on the Hydro Flask site.</p>
					<%= form_tag "/search", method: "get", id: "footer_search" do %>
						<div class="form-row">
							<input type="text" placeholder="Search" name="query" id="footer_search_box"/><input type="image" src="https://s3.amazonaws.com/hydroflask/images/search_button.png" />
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</footer>
