<h1>My Account</h1>
<p id="notice"><%= notice %></p>
<p>
  <b>First name:</b>
  <%= @account.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @account.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @account.email %>
</p>
<%= link_to 'Edit Contact Info', edit_account_path(@account) %>

<h2 style="margin-top:40px;">Your Orders</h2>
<% if @orders.blank? %>
<p>You currently have no orders</p>
<% else %>
<table style="width:30%;">
  <tr>
    <th>Order #</th>
    <th>Order Date</th>
    <th style="text-align:right;">Sales Total</th>
    <th></th>
  </tr>
  <% if !@orders.blank?  %>
    <%= render partial: 'orders/list_of_orders' %>
  <% end %>
  <% if !@archive_orders.blank? %>
    <%= render partial: 'archive_orders/list_of_archive_orders' %>
  <% end %>
</table>
<% end %>
